body {
    display: flex;
    flex-direction: column;
    background-color: rgb(140, 49, 192);
    text-align: center;
     font-family: 'Open Sans', sans-serif;}

     .sidebar {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
      }
      
      /* Style sidebar links */
      .sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
      }
      
      /* Style links on mouse-over */
      .sidebar a:hover {
        color: #f1f1f1;
      }
      
      /* Style the main content */
      .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        padding: 0px 10px;
      }
      
      /* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
      @media screen and (max-height: 450px) {
        .sidebar {padding-top: 15px;}
        .sidebar a {font-size: 18px;}
      }

      h1 {
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-align: center;
        margin-top: 0px;
      }

      .container {
        position: relative;
      }
      
        .text-block {
        position: absolute;
        top: 200px;
        right: 380px;
        /* background-color: rgba(0, 0, 0, 0.363); */
        color: rgba(44, 5, 59, 0.897);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 40px;
        padding-left: 0px;
        padding-right: 0px;
      }
#gremlin {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        opacity: 0.5;
      } 

.container {
        position: relative;
        text-align: center;
        color: white;
      }

      .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        }
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: stretch;
    margin: 0 auto;
}